/* Move down content because we have a fixed navbar that is 50px tall */




body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.navbar-inverse {
    background-color: #38a8c7;
    color: whitesmoke;
}

.footer {
    height: 35px; 
    background-color: #38a8c7;
    text-align: center;

}

.rm {
    margin-right: 50px;
}

.right {
    margin-right: auto;
}

.left {
    margin-left: auto;
}

.block {
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.gridView {
    max-height: 390px;
    width: 400px;
    overflow: auto;
}

    .gridView th {
        font-size: 14px;
        font-weight: bold;
        width: 55px;
        height: 30px;
        white-space: nowrap;
    }

